services:
  - type: pserv
    name: suitecrm-db
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile.mysql
    envVars:
      - key: MYSQL_ROOT_PASSWORD
        generateValue: true
      - key: MYSQL_DATABASE
        value: suitecrm
      - key: MYSQL_USER
        value: suitecrm
      - key: MYSQL_PASSWORD
        generateValue: true
    disk:
      name: mysql-data
      mountPath: /bitnami/mysql
      sizeGB: 1

  - type: web
    name: suitecrm
    runtime: docker
    plan: free
    envVars:
      - key: SUITECRM_DATABASE_HOST
        fromService:
          type: pserv
          name: suitecrm-db
          property: hostport
      - key: SUITECRM_DATABASE_PORT_NUMBER
        value: 3306
      - key: SUITECRM_DATABASE_NAME
        value: suitecrm
      - key: SUITECRM_DATABASE_USER
        value: suitecrm
      - key: SUITECRM_DATABASE_PASSWORD
        fromService:
          type: pserv
          name: suitecrm-db
          envVarKey: MYSQL_PASSWORD
      - key: SUITECRM_USERNAME
        value: admin
      - key: SUITECRM_PASSWORD
        generateValue: true
      - key: SUITECRM_EMAIL
        value: admin@example.com
